html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
body, button {
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: never;
}
button {
  cursor: pointer;
}
#surface {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#name {
  text-align: center;
  font-size: 20vh;
  line-height: 20vh;
  margin-top: 5vh;
}
#preamble {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #333;
}
#title {
  text-transform: uppercase;
  color: white;
  margin: 15vh 0 0;
  font-size: 15vh;
  line-height: 15vh;
  font-weight: normal;
}
#join {
  background: green;
  color: lime;
  border: 0;
  padding: 5vh 15vh;
  margin-top: 10vh;
  font-size: 30vh;
  text-transform: uppercase;
}
#portrait-error {
  position: absolute;
  text-align: center;
  font-size: 10vh;
  line-height: 10vh;
  box-sizing: border-box;
  padding: 15vh 5vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: red;
  background: maroon;
  text-transform: uppercase;
}
@media screen and (orientation: landscape) {
  #portrait-error {
    display: none;
  }
}
